  <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Mongo Scraper</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="/">Home</a></li>
      <li class ="saveArticles"><a href="/saved">Saved Articles</a></li>
      <li class="scrape"><a href="/scrape">Scrape</a></li>
      {{!-- <li><a class="btn btn-info scrape-new">SCRAPE NEW ARTICLES!</a></li> --}}
    </ul>
  </div>
</nav>
<div class="jumbotron text-center">
  <div class="overlay">
  </div>
  <div class="background-image">
  </div>
  <div class="caption">
    <h1>Mongo Scraper</h1>
    <p>New York Times Edition</p>
  </div>
</div>

<div class="row">
  {{#each article }}
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption" id="headline">
        <div role="headline"><a href="{{ url }}"><h4>{{ headline }}</h4></a></div>
        <p class="summary">{{ summary }}</p>
        <p><a href="#" class="btn btn-info" role="button">SAVE ARTICLE</a> <a href="#" class="btn btn-success" role="button">ARTICLE NOTES</a></p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
